################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/RB.WebApiAutofacFilter/bin
/RB.WebApiAutofacFilter/logs
/RB.WebApiAutofacFilter/obj/Debug
/.vs
*.user
/RB.WebApiAutofacFilter/obj/Release
